*{
	font-family: 'Roboto', 'PT Serif', sans-serif;
	box-sizing: border-box;
}

body{
	margin: 0;
}

.parent{
	background: url(../img/Bitmap.jpeg);
	height: 880px;
	background-size: cover;
}

.parent .bg{
	background: rgba(51,51,51,.8);
	height: inherit;
	position: relative;
}

.wrap{
	width: 1100px;
	margin:0 auto;
}
.header {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.logo h1{
	text-transform: uppercase;
	color: #fff;
	font-family: 'PT Serif', sans-serif;
	font-size: 40px;
	font-weight: bold;
	line-height: 48px;
	margin: 30px 0;
}

.menu{
	width: 500px;
	margin: 25px 0;
}

.menu:after {
	content: '';
	width: 170px;
	height: 170px;
	background: url(../img/Oval.png);
	position: absolute;
	top:240px;
	left:200px;
}

.menu ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.menu a{
	text-decoration:none;
	color: #fff;
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
}

.icons{
	display: flex;
	margin:25px 0;
}

.icons div{
	width: 40px;
	height: 40px;
	border:1px solid #fff;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	margin:0 5px;
}

.text h2{
	color: #fff;
	font-family: 'PT Serif', sans-serif;
	font-size: 60px;
	font-weight: bold;
	width: 500px;
	margin-top: 150px;
	margin-bottom: 5px;
}

.text p{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: #fff;
}

.text button{
	background: none;
	color: #fff;
	font-size: 20px;
	border:1px solid #fff;
	border-radius: 2px;
	padding: 17px 30px;
	margin-right:20px;
}

.text a{
	text-decoration: none;
	color: #fff;
}

.text .bg:hover{
	background: #6327EB;
	border: none;
	transform: scale(1.1);
	transition: 1s;
}
.bord:hover {
	border: 1px solid #6327EB;
	transform: scale(1.1);
	transition: 1s;
}

.flexi{
	display: flex;
}

.img img{
	margin-top: 60px;
	width: 630px;
	height: 630px;
	opacity: .9;
}

.path{
	width: 43px;
	height: 43px;
	border:1px solid rgba(249,247,242, .5);
	border-radius: 50%;
	margin: 0 auto;
	padding: 10px 14px;
}

.contain{
	background: #F2F2F2;
}

.room{
	padding-top: 150px;
	padding-bottom: 150px;
	display: flex;
	justify-content: space-between;
}

.photo .pos{
	width: 150px;
	height: 150px;
	background:rgba(187,162,133,.9);
	position: absolute;
	top: 1400px;
	left: 260px;
}
.pos div{
	width: 90px;
	height: 90px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 30px auto;
}

.pos img {
	width: 30px;
	height: 43px;
	margin:25px;
}

.contain .room .txt{
	width: 400px;
	padding-top: 50px;
}

.txt h6{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 0;
}

.txt p{
	color: #333333;
	font-family: Roboto;
    font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
}

.txt h2{
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 64px;
	color: #333;
	margin:0;
}

.txt button{
	background: #6327EB;
	color: #fff;
	font-size: 20px;
	border:1px solid #fff;
	border-radius: 2px;
	padding: 17px 40px;
	margin-right:20px;
}

.menu2{
	display: flex;
	justify-content: space-between;
	margin-top: 150px;
	margin-bottom: 150px;
} 

.txt2 h6{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 32px;
	margin-top: 0;
	margin-bottom: 0;
}

.txt2 h2{
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 64px;
	color: #333;
	margin-top: 0;
	margin-bottom: 0;
}

.pos1 {
	border-bottom: 1px solid rgba(51, 51, 51, 0.4);
}

.pos1 pre{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
	color:#333;
}

.pos1 p{
	font-family: Roboto;
 	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: rgba(51, 51, 51, 0.50133);
}

.menu2:after {
	content: '';
	width: 170px;
	height: 170px;
	background: url(../img/Oval.png);
	position: absolute;
	top:240px;
	left:200px;
}

.section4{
	background: #F9F7F2;
	padding-top: 150px;
	padding-bottom: 150px;
}

.section4 .wrap h6{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	color: #333333;
	margin-bottom: 0;
}

.section4 .wrap h2{
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 56px;
	line-height: 64px;
	text-align: center;	
	color: #333333
	margin-top:0;
}

@media screen and (max-width: 900px) {
	.wrap {
		width: 100%;
		margin: 0 auto;
		padding: 0 16px;
	}
}


@media screen and (max-width: 500px) {
	.wrap {
		width: 100%;
		margin: 0 auto;
		padding: 0 16px;
	}

	.menu {
		display: none;
	}

	.icons {
		display: none;
	}

	.flexi{
		display: flex;
		flex-direction: column;	
	}

	.flexi .text{
		width: 100%;
	}

	.photo{
		width: 100%;
	}

	.img img{
		width: 300px;
		height: 300px;
		margin: 0 auto;
	}

	.contain .wrap{
		width: 100%;
	} 

	.room{
		display:block;
	}

	.room img{
		width: 100%;
	}

	.pos {
		display: none;
	}

	.txt {
		width: 100%;
	}
	.txt p{
		width: 100%;
	}

	.section .wrap{
		width: 100%;
		margin: 0 auto;
		padding: 0 16px;
	}

	.menu2{
		display: block;
	}

	.txt2 {
		width: 100%;
	}
		
	.pos1 p,
	.pos1 pre{
		width: 100%;
	}	
	.photo2 img{
		width: 100%;
	}

}




